  h1 {
    /*  font-family: "DaysOne-Regular" !important;*/
  
    }
    h2, h3, h5 {
    /* font-family: Raleway-Regular !important;
     font-family: 'Dosis', sans-serif;
   */
   
   
  }
  
  h6 {
    /* font-family: Raleway-Regular !important;
      font-family: 'Dosis', sans-serif;
    */
   
  }

  .libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}



.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.smythe-regular {
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
}
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  h1 {
   
   
   
 
  
    font-weight: bold;
    /* color: #3c5858; */
   
    /* color: #0bd3b5; */
}


